html,
head,
body,
header,
footer,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
nav,
section,
article,
pre,
blockquote,
aside,
table,
thead,
tbody,
tfoot,
tr,
th,
td,
strong,
em,
i,
small,
code,
span,
a,
img,
video,
audio,
embed,
object {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ol,
ul,
li,
dl,
dt,
dd {
  box-sizing: border-box;
}
img,
audio,
video,
embed,
object {
  max-width: 100%;
}
table,
thead,
tbody,
tfoot,
tr,
th,
td {
  border-collapse: collapse;
  border: 0;
}
a {
  color: #65c294;
  background-color: inherit;
  text-decoration: none;
}
a:visited {
  color: #85c360;
}
a:hover {
  color: #65c294;
}
a:active {
  color: #65c294;
}
html {
  font-size: 20px;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
  font-size: 0.8rem;
  color: #333;
  background-color: #ebebeb;
}
pre,
code {
  font-family: monospace;
}
h1 {
  font-size: 1.4rem;
  line-height: 2rem;
}
h2 {
  font-size: 1.2rem;
  line-height: 1.6rem;
}
h3 {
  font-size: 1rem;
  line-height: 1.4rem;
}
.list-unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}
.clearfix {
  clear: both;
}
.text-center {
  text-align: center;
}
.text-italic {
  font-style: italic;
}
.header {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  color: #ffc;
  font-size: 1.5rem;
  font-weight: normal;
  background-color: #6c9;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  box-shadow: 0 3px 3px rgba(0,0,0,0.3);
}
.header--logobox {
  height: 3rem;
  width: 17rem;
  line-height: 3rem;
}
.header .header--logo {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  display: block;
  color: #ffc;
  text-align: center;
}
.header--nav {
  height: 3rem;
  position: absolute;
  top: 0;
  left: 17rem;
}
.nav--menu {
  height: 3rem;
  vertical-align: top;
}
.nav--item {
  height: 3rem;
  display: inline-block;
  vertical-align: top;
}
.nav--item a {
  height: 3rem;
  line-height: 3rem;
  display: block;
  color: #ffc;
  font-size: 1.2rem;
  padding: 0 0.8rem;
}
.nav--item-actived a {
  color: #6c9;
  background-color: #ffc;
}
.header--mobilenav {
  display: none;
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.mobilenav--btn {
  width: 1rem;
  height: 0.75rem;
  display: block;
  border-top: 0.15rem solid #ffc;
  border-bottom: 0.15rem solid #ffc;
  background-color: #ffc;
  padding: 0.15rem 0;
  margin: 1.125rem auto 0;
  background-clip: content-box;
}
.container {
  width: 100%;
  min-height: 33rem;
  padding: 4.5rem 1.5rem 2.5rem;
  position: relative;
  top: 0;
  left: 0;
}
.footer {
  height: 5rem;
  width: 100%;
  color: #666;
  background-color: #222;
  text-align: center;
  line-height: 5rem;
}
.main {
  padding: 0.8rem;
  background-color: #fff;
}
.main-offset {
  margin-left: 15.3rem;
}
.main-gray {
  background-color: #ebebeb;
}
.home {
  font-weight: 800;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: left;
  padding: 1rem;
}
.sidebar {
  width: 14rem;
  position: absolute;
  top: 4.5rem;
  left: 1.5rem;
}
.tags--box,
.categories--box {
  padding: 0.6rem 0.8rem 0.8rem 1.1rem;
  margin-bottom: 1rem;
  background-color: #fff;
}
.tags--title,
.categories--title {
  height: 1.7rem;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.7rem;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 0.2rem;
  position: relative;
}
.tags--title:before,
.categories--title:before {
  content: "";
  height: 0;
  width: 2.5rem;
  border-bottom: 1px solid #1d953f;
  position: absolute;
  bottom: -1px;
  left: 0;
}
.tags--item,
.categories--item {
  height: 1.2rem;
  line-height: 1.2rem;
  font-size: 0.9rem;
  vertical-align: middle;
}
.tags--number,
.categories--number {
  font-size: 0.7rem;
}
.section {
  padding-top: 0;
  padding-right: 16rem;
  position: relative;
  top: 0;
  left: 0;
  background-color: #ebebeb;
}
.section--box {
  padding: 0.8rem;
  margin-bottom: 1rem;
  background-color: #fff;
}
.section--title {
  text-align: center;
  padding-bottom: 0.4rem;
}
.section--list {
  width: 15rem;
  padding: 0.8rem;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid #e6e6e6;
  background-color: #fff;
}
.section--list--title {
  color: #666;
  background-color: #cde6c7;
  font-weight: 500;
  text-align: center;
  padding: 0.2rem 0;
}
.section--list--subtitle {
  color: #1d953f;
  height: 1.3rem;
  line-height: 1.3rem;
  margin-top: 0.4rem;
  margin-bottom: 0.3rem;
  border-bottom: 1px solid #1d953f;
}
.section--list ul {
  padding-left: 0.6rem;
}
.section--list--item {
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
  border-bottom: 1px solid #e8e8e8;
}
.section--list--item a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.section--list--item .date {
  color: #969696;
  font-size: 0.6rem;
}
.summary--box {
  background-color: #ebebeb;
}
.summary {
  padding: 0.8rem;
  margin-bottom: 1rem;
  background-color: #fff;
  border: 1px solid #e3e3e3;
}
.summary--head {
  padding-bottom: 0.2rem;
  margin-bottom: 0.4rem;
  border-bottom: 1px solid #e3e3e3;
}
.summary--title {
  width: 100%;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.1rem;
}
.summary--meta {
  color: #969696;
  font-size: 0.7rem;
}
.summary--content {
  line-height: 1.05rem;
}
.read-more {
  margin-top: 0.5rem;
  text-align: right;
}
.read-more a {
  padding: 0.3rem 0.4rem;
  color: #ffc;
  background-color: #65c294;
}
.single {
  padding-top: 0;
  padding-right: 12rem;
  position: relative;
  top: 0;
  left: 0;
  background-color: #ebebeb;
}
.single--box {
  padding: 1rem;
  background-color: #fff;
}
.single--head {
  padding-bottom: 0.3rem;
  margin-bottom: 0.8rem;
  border-bottom: 1px solid #1d953f;
}
.single--title {
  color: #1d953f;
  padding: 0.5rem 0;
}
.single--meta {
  position: relative;
  top: 0;
  left: 0;
}
.single--meta .meta--date,
.single--meta .meta--wordcount {
  color: #969696;
  font-size: 0.7rem;
}
.single--tags {
  position: absolute;
  left: 13rem;
  top: 0;
}
.single--tagitem {
  display: inline-block;
  margin-right: 0.3rem;
  font-size: 0.8rem;
}
.single--content h1 {
  font-size: 1.3rem;
  margin: 1.6rem 0 0.5rem;
}
.single--content h2 {
  font-size: 1.1rem;
  margin: 1.3rem 0 0.3rem;
}
.single--content h3 {
  font-size: 1rem;
  margin: 1.1rem 0 0.2rem;
}
.single--content h4 {
  font-size: 0.9rem;
  margin: 0.8rem 0;
}
.single--content p,
.single--content li {
  line-height: 1.2rem;
}
.single--content > p {
  margin: 0.5rem 0;
}
.single--content pre {
  margin: 0.8rem 0;
}
.single--content blockquote {
  padding: 0.5rem 0.8rem;
  margin: 0.5rem;
  margin-left: 1.6rem;
  background-color: #f6f8fa;
  border-left: 6px solid #6c9;
  line-height: 1rem;
}
.single--content code {
  background-color: #f0f0f0;
  line-height: 1rem;
}
.single--content table,
.single--content th,
.single--content tr,
.single--content td,
.single--content tbody,
.single--content thead,
.single--content tfoot {
  border: 1px solid #c6cbd1;
}
.single--content table {
  max-width: 100%;
  margin: 1rem 0;
  overflow-x: scroll;
  word-break: break-all;
  table-layout: fixed;
}
.single--content td,
.single--content th {
  padding: 0.2rem 0.4rem;
}
.single--content tbody tr:nth-of-type(even) {
  background-color: #f6f8fa;
}
.single--content em {
  font-style: italic;
}
.single--content strong {
  font-weight: bold;
}
.single--content img {
  width: 100%;
}
.single--nav {
  margin-top: 1.2rem;
  line-height: 1.4rem;
}
.table-of-contents {
  width: 11rem;
  position: fixed;
  top: 4.5rem;
  right: 1.5rem;
  bottom: 6rem;
  padding: 0.7rem;
  padding-left: 0;
  font-size: 0.6rem;
  background-color: #fff;
  overflow-y: auto;
}
.table-of-contents ul,
.table-of-contents li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.table-of-contents ul {
  padding-left: 0.6rem;
}
.table-of-contents li {
  padding-bottom: 0.2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.lists {
  width: 100%;
  max-width: 1000px;
  background-color: #fff;
  padding: 1rem;
  margin: 0 auto;
}
.lists--title {
  color: #1d953f;
  border-bottom: 1px solid #1d953f;
  margin-bottom: 0.8rem;
}
.lists--item {
  padding: 0.3rem;
  padding-left: 0;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #ebebeb;
}
.lists--item span {
  color: #888;
  padding-right: 1rem;
}
.taxonomy--box {
  margin: 0 auto;
  position: relative;
}
.taxonomy--tags,
.taxonomy--categories {
  top: 0;
  left: 0;
}
.taxonomy--title {
  color: #1d953f;
  text-align: center;
  border-bottom: 1px solid #1d953f;
  margin-bottom: 0.8rem;
}
.taxonomy--item {
  padding: 0.3rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #ebebeb;
}
.taxonomy--item span {
  color: #888;
  padding-right: 1rem;
}
.chroma {
  padding: 0.2rem 0.2rem;
}
.chroma pre {
  margin: 0;
}
.chroma table,
.chroma th,
.chroma tr,
.chroma td,
.chroma tbody,
.chroma thead,
.chroma tfoot {
  border: none;
}
.alltaxonomies {
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
  background-color: #fff;
}
.alltaxonomies--title {
  color: #1d953f;
  border-bottom: 1px solid #1d953f;
  margin-bottom: 0.8rem;
}
.alltaxonomies--name {
  display: block;
  line-height: 1.5rem;
  margin-top: 2rem;
  font-size: 1.5rem;
}
.alltaxonomies li {
  line-height: 1.2rem;
}
.alltaxonomies--sublist {
  background-color: #ebebeb;
  padding: 0.3rem 0.5rem;
  margin-top: 1rem;
}
.alltaxonomies--item {
  padding: 0.3rem;
  padding-left: 0;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #ebebeb;
}
@media screen and (max-width: 720px) {
  .sidebar {
    display: none;
  }
  .table-of-contents {
    display: none;
  }
  .main {
    padding: 0;
  }
  .main-offset {
    margin-left: 0;
  }
  .container {
    padding: 3rem 0 1rem;
  }
  .header--logobox {
    width: 100%;
  }
  .header--nav {
    width: 100%;
    height: 2rem;
    display: none;
    top: 3rem;
    left: 0;
    z-index: 50;
  }
  .nav--menu {
    height: 2rem;
    line-height: 2rem;
  }
  .nav--item {
    height: 2rem;
    display: block;
    background-color: #fff;
    color: #6c9;
  }
  .nav--item a {
    height: 2rem;
    line-height: 2rem;
    font-size: 1rem;
    color: #6c9;
    border-bottom: 1px solid #e3e3e3;
  }
  .header--mobilenav {
    display: block;
  }
  .section--box {
    display: none;
  }
  .summary--box {
    display: none;
  }
  .section--list {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
  }
  .single {
    padding-right: 0;
  }
  .single-content {
    width: 100%;
  }
  .single--tags {
    position: relative;
    top: 0;
    left: 0;
  }
}
